@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.profile {

  .edit {
    display: flex;
    gap: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #E8EDF1;
    padding-right: 40px;

    @include sm {
      padding-right: 10px;
    }

    p {
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      color: $gray-color;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      @include sm {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
      }

      &.active {
        color: $yellow-color;
        position: relative;

        &::after {
          position: absolute;
          content: '';
          height: 2px;
          width: 115%;
          background-color: $yellow-color;
          bottom: -11px;
          right: -13px;
        }
      }
    }
  }

  .body {

    .input-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;
        color: #010101;
      }

      input {
        width: 338px;
        height: 52px;
        padding: 17px 16px 15px 16px;
        border: 0;
        outline: none;
        border-radius: 10px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        background-color: $light-gray;
        margin-top: 10px;
        color: $dark-color;

        @include md {
          width: 100%;
          height: 40px;
        }
      }
    }
  }
}