@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.rewards {
  background-color: $light-gray;

  .content {
    padding: 24px 24px 13px 24px;

    .header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;

      .discount {
        width: 100%;
        padding: 24px 15px;
        border-radius: 12px;
        background-color: $white-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        .discount-input {
          display: flex;
          flex-direction: column;

          label {
            font-size: 12px;
            line-height: 14px;
            font-weight: 700;
            color: #010101;
          }

          input {
            width: 338px;
            height: 52px;
            padding: 17px 16px 15px 16px;
            border: 0;
            outline: none;
            border-radius: 11px;
            font-size: 12px;
            line-height: 16px;
            font-weight: 400;
            background-color: $light-gray;
            margin-top: 10px;

            @include sm {
              width: 100%;
            }
          }
        }

        button {
          width: 182px;
          height: 52px;
          color: $white-color;
          border: 0;
          border-radius: 11px;
          font-size: 18px;
          line-height: 21px;
          font-weight: 700;
          cursor: pointer;
          margin-top: 27px;
          transition: all 0.2s ease-in-out;
          background-color: $yellow-color;

          @include md {
            padding: 12px 10px;
            font-size: 17px;
            font-weight: 600;
          }

          @include sm {
            width: 100%;
          }
        }
      }
    }

    .body {
      margin-top: 70px;

      p {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        color: #718096;

        &:not(:last-child) {
          margin-bottom: 15px;
        }

        @include sm {
          font-size: 18px;
          line-height: 22px;
        }

        span {
          font-size: 24px;
          line-height: 24px;
          font-weight: 700;
          color: $yellow-color;

          @include sm {
            font-size: 20px;
            line-height: 22px;
          }
        }
      }
    }
  }
}