@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.cars-types {

  .table {

    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
        color: $dark-color;

        @include md {
          font-size: 19px;
        }

        @include smd {
          font-size: 16px;
        }
      }

      .actions {
        position: relative;
        display: flex;
        align-items: center;

        .add-btn {

          button {
            width: 112px;
            background-color: $yellow-color;
            color: $white-color;
            border: 0;
            border-radius: 6px;
            padding: 12px 35px;
            font-size: 16px;
            line-height: 19px;
            font-weight: 500;
            cursor: pointer;

            @include smd {
              width: 75px;
              padding: 10px;
              font-size: 15px;
            }
          }
        }

        .modal {
          left: 110px;

          @include smd {
            left: 0;
          }

          .step-dropdown {
            width: 275px !important;
          }

          .img {
            width: 225px;
            height: 165px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            margin: auto;

            .upload_file {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              background-color: #FAFCFE;
              background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='%23E0E5F2FF' stroke-width='3' stroke-dasharray='14' stroke-dashoffset='9' stroke-linecap='round'/%3e%3c/svg%3e");
              border-radius: 13px;
              cursor: pointer;

              h2 {
                font-size: 20px;
                line-height: 32px;
                font-weight: 700;
                margin-bottom: 12px;
                color: $yellow-color;
              }

              p {
                font-size: 12px;
                line-height: 20px;
                font-weight: 500;
                color: #8F9BBA;
                margin-bottom: 10px;
              }
            }
          }

          .type-input {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 10px;

            label {
              font-size: 12px;
              line-height: 14px;
              font-weight: 500;
              color: #010101;
            }

            input {
              width: 275px;
              padding: 13px 12px 11px 12px;
              background-color: $light-gray;
              border: none;
              outline: none;
              border-radius: 10px;
              color: $dark-color;
              font-size: 13px;
              line-height: 16px;
              font-weight: 400;
            }
          }

          button {
            width: 275px;
          }
        }
      }
    }
  }
}