@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.home {
  background-color: rgb(0, 0, 0);
  background-color: $light-gray;


  .home-content {
    padding: 24px 24px 13px 24px;
  }
}