@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.package-control {
  position: relative;

  .modal {
    max-width: 300px;
    top: 100px;

    @include sm {
      left: 8px;
    }

    .input-container {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-top: 10px;

      label {
        text-align: right;
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
        color: #010101;
      }

      input {
        width: 275px;
        padding: 13px 12px 11px 12px;
        background-color: $light-gray;
        border: none;
        outline: none;
        border-radius: 10px;
        color: $dark-color;
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
      }
    }
  }
}