@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.contactUs {
  .body {
    display: flex;
    flex-direction: column;
    
    .input-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;
        color: #010101;
      }

      input {
        width: 338px;
        height: 52px;
        padding: 17px 16px 15px 16px;
        border: 0;
        outline: none;
        border-radius: 10px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        background-color: $light-gray;
        margin-top: 10px;
        color: $dark-color;
        text-align: right;

        @include md {
          width: 100%;
          height: 40px;
        }
      }
    }
  }
}