@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.confirm-code {
  width: 100%;
  margin: 88px auto;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 443px;
    padding: 44px 34px 0px 34px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);

    @include md {
      width: 95%;
    }

    h1 {
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      color: $dark-color;
      margin-bottom: 8px;

      @include sm {
        font-size: 19px;
      }
    }

    p {
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      color: #8B8D97;
      margin-bottom: 60px;
    }

    .fields {
      display: flex;
      flex-direction: column;
      align-items: center;

      .inputs-container {
        display: flex;
        direction: ltr;
        align-items: center;
        justify-content: center;
        gap: 14px;

        input {
          width: 66px;
          height: 56px;
          border-radius: 8px;
          text-align: center;
          font-size: 24px;
          line-height: 28px;
          font-weight: 500;
          color: #272727;
          border: 1px solid #B3B3B3;
          outline: 0;

          &:focus {
            border: 1px solid $yellow-color;
            outline: 0;
          }
        }
      }

      .btn {
        width: 375px;
        padding: 17px 16px 15px 16px;
        border-radius: 12px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        color: $white-color;
        background-color: $yellow-color;
        border: 0;
        outline: none;
        margin-bottom: 44px;
        margin-top: 60px;
        text-decoration: none;
        text-align: center;

        @include sm {
          width: 320px;
        }
      }
    }
  }
}