@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.payment {
  width: 100%;
  position: relative;

  .payment-options {
    width: 100%;
    background: #ffffff;


    h3 {
      font-size: 18px;
      line-height: 27px;
      font-weight: 700;
      margin-bottom: 32px;
      color: #1A202C;

      @include smd {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .options {
      width: 100%;
      gap: 20px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .option {
        position: relative;
        width: 241px;
        height: 105px;
        padding: 16px;
        border-radius: 12px;
        box-shadow: 0px 0px 8px rgba($color: #000000, $alpha: 0.2);
        text-align: center;
        cursor: pointer;

        @include smd {
          width: 100%;
          height: fit-content;
        }

        h4 {
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
          color: #1A202C;
          padding-bottom: 15px;
          border-bottom: 1.5px solid #DDDFE1;
        }

        p {
          padding-top: 16px;
          font-size: 14px;
          line-height: 15px;
          font-weight: 400;
          color: $yellow-color;
        }

        .actions {
          position: absolute;
          top: -10px;
          left: 0;
          display: none;

          img {
            cursor: pointer;

            &:not(:last-child) {
              margin-left: 5px;
            }
          }

          .modal {

            @include sm {
              left: -8px;
            }

            .input-container {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-top: 10px;

            label {
              text-align: right;
              font-size: 12px;
              line-height: 14px;
              font-weight: 500;
              color: #010101;
            }

            input {
              width: 275px;
              padding: 13px 12px 11px 12px;
              background-color: $light-gray;
              border: none;
              outline: none;
              border-radius: 10px;
              color: $dark-color;
              font-size: 13px;
              line-height: 16px;
              font-weight: 400;
            }
          }
          }
        }

        &:hover .actions {
          display: block;
        }
      }
    }

    .add-btn {
      display: flex;
      justify-content: end;

      .btn {
        display: inline-block;
        padding: 12px 35px 12px 35px;
        border-radius: 6px;
        background-color: $yellow-color;
        color: $white-color;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        margin-top: 24px;
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }

  .addImg-container {
    position: relative;
    margin-top: 30px;

    .title {
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      color: $dark-color;
      margin-bottom: 16px;

      @include smd {
        font-size: 15px;
      }
    }

    .imgs {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      .img {
        position: relative;
        padding: 8px 12px;
        border-radius: 4px;
        display: inline-block;

        &:hover .close-btn {
          display: block;
        }

        img {
          height: 30px;
        }

        .close-btn {
          position: absolute;
          top: -4px;
          left: -4px;
          width: 13px;
          height: 13px;
          display: none;
          cursor: pointer;
        }
      }
    }

    .show-btn {
      padding: 12px 35px;
      border-radius: 6px;
      background-color: $yellow-color;
      color: $white-color;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      cursor: pointer;
      outline: none;
      border: none;
      margin-top: 24px;
      float: left;
    }

    .popup-addImg {
      left: 110px;

      @include smd {
        left: 0;
      }

      .content {
        justify-content: center;
      }

      .img {
        width: 225px;
        height: 165px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        margin: auto;

        .upload_file {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: #FAFCFE;
          background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='%23E0E5F2FF' stroke-width='3' stroke-dasharray='14' stroke-dashoffset='9' stroke-linecap='round'/%3e%3c/svg%3e");
          border-radius: 13px;
          cursor: pointer;

          h2 {
            font-size: 20px;
            line-height: 32px;
            font-weight: 700;
            margin-bottom: 12px;
            color: $yellow-color;
          }

          p {
            font-size: 12px;
            line-height: 20px;
            font-weight: 500;
            color: #8F9BBA;
            margin-bottom: 10px;
          }
        }
      }

      button {
        width: 275px;
        height: 50px;
        margin: auto;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
      }
    }
  }

  .addCard {
    margin-top: 40px;

    h2 {
      font-size: 18px;
      line-height: 22px;
      font-weight: 700;
      color: $dark-color;
      margin-bottom: 24px;
    }

    .addCard-btn {
      display: inline-block;
      padding: 12px 35px;
      border-radius: 6px;
      background-color: $yellow-color;
      color: $white-color;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      cursor: pointer;
    }

    .card-edit {
      max-width: 338px;
      background-color: $light-gray;
      display: flex;
      align-items: center;
      border-radius: 10px;
      padding: 0 16px;

      input {
        padding: 21px 10px 20px 10px;
        border: none;
        outline: none;
        width: 100%;
        background-color: $light-gray;
      }

      .edit-pen {
        cursor: pointer;
      }
    }
  }

  .payment-table {
    margin-top: 24px;
    width: 100%;

    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
        color: $dark-color;

        @include md {
          font-size: 19px;
        }
      }

      .actions {
        position: relative;
        display: flex;
        align-items: center;

        .filter {

          background-color: $white-color;
          padding: 12px 16px;
          border-radius: 4px;
          border: 1px solid $dark-color;
          height: 42px;
          cursor: pointer;

          @include sm {
            padding: 8px 10px;
            height: 35px;
          }
        }
      }
    }

    .modal {
      button {
        @include sm {
          width: 200px;
        }
      }
    }

    .step-dropdown {
      width: 275px !important;

      @include sm {
        width: 200px !important;
      }
    }
  }

  .popup-card {
    position: absolute;
    top: 0;
    right: -60px;
    width: 378px;
    z-index: 10000000;
    height: fit-content;
    padding: 24px 20px;
    border-radius: 12px;
    background-color: $white-color;
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.3);

    @include smd {
      width: 300px;
      padding: 20px 15px 0px 15px;
    }

    @include sm {
      width: 250px;
    }

    .head {
      display: flex;
      justify-content: space-between;
      padding-bottom: 16px;
      border-bottom: 1px solid #F1F3F9;

      h2 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: #1C1D22;
      }

      img {
        cursor: pointer;
      }
    }

    .body {
      display: flex;
      flex-direction: column;

      .input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;

        label {
          font-size: 15px;
          line-height: 18px;
          font-weight: 700;
          color: #010101;
          margin-bottom: 8px;

          @include smd {
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
          }
        }

        input {
          padding: 18.5px 20px 16.5px 0px;
          background-color: $light-gray;
          border: none;
          outline: none;
          border-radius: 10px;

          @include smd {
            padding: 15px 17px 13px 0px;
          }
        }
      }

      .add-btn {
        background-color: $yellow-color;
        color: $white-color;
        border-radius: 8px;
        padding: 16px;
        text-align: center;
        font-size: 18px;
        line-height: 21px;
        font-weight: 700;
        cursor: pointer;

        @include smd {
          padding: 10px;
        }
      }
    }
  }
}